
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fdfdfd;
    font-family: 'Montserrat', sans-serif !important ;
    /* font-weight: lighter !important; */
    /* background-image: url("./images/background.webp"); */
    background-size: contain;
}
/* -------- NEW PAGE ------------------*/

.img-slider{
  position: relative;
  width: 100%;
  height: 100vh;
}
.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  clip-path: circle(0% at 0 50%);
  transition: 4s;
}
.img-slider .slide.active{
  clip-path: circle(150.0% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.img-slider .slide > img {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.img-slider .slide .info{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  padding: 15px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.img-slider .slide .info h2{
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.img-slider .navigation .btn.active{
  background-color: #3675BF;
}
.scrolldown {
  width: 24px;
  height: 24px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 2;
  position: absolute;
  top: 85%;
}

.chevron {
  position: absolute;
  width: 58px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #3675BF;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
} 


.options{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

.option{
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground,var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: .5s cubic-bezier(0.05,0.61,0.41,0.95);
}

.option{
  --defaultBackground: url(./images/logoT.png);
}

.option.active_option{
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: cover;
  
}
.option.active_option .shadow{
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.option.active_option .label{
  bottom: 32px;
  left: 20px;
}
.option.active_option .info_option > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active_option){
  flex-grow: 1;
  border-radius: 30px;
}
.option:not(.active_option) .shadow{
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.option:not(.active_option) .label{
  bottom: 10px;
  left: 10px;
}
.option:not(.active_option) .info_option > div {
  left: 20px;
  opacity: 0;
}
.shadow{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label{
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--defaultBackground);
  background-size: cover;
}
.info_option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -10px;
  color: white;
  white-space: pre;
  margin-top: -25px;
}
.info_option > div{
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.main{
  font-weight: bold;
  font-size: 1.8rem;
}
.sub{
  transition-delay: 0.1s;
}



.comite{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.comite_titre > h1 {
  margin-top: 27%;
  font-size: 82px;
  font-weight: lighter;
  color: #3675BF;
}
.comite_titre > h1::after{
  content: '';
  display: block;
  height: 4px;
  width: 132px;
  background-color: #3675BF;
  position: relative;
  top: 0px;
}

.comite_titre > h1::before{
  content: '';
  display: block;
  height: 4px;
  width: 392px;
  background-color: #3675BF;
  position: relative;
  top: 100px;
  left: 0;
}

.slider_card_global{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


svg {
  width: 100px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}
svg polygon, path {
  transition: all 0.5s cubic-bezier(.2,1,.3,1);
}
svg:hover polygon, svh:hover path{
  transition: all 1s cubic-bezier(.2,1,.3,1);
  fill: #3675BF;
}
svg:hover .arrow{
  animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
svg:hover .arrow-fixed{
  animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
@keyframes arrow-anim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	5% {
		transform: translateX(-0.1rem);
	}
	100% {
		transform: translateX(1rem);
		opacity: 0;
	}
}
@keyframes arrow-fixed-anim {
	5% {
		opacity: 0;
	}
	20% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
.card_container{
  display: flex;
  margin-top: 3%;
  overflow-x: scroll;
  width: 65%;
  scroll-behavior: smooth;

}
.card_container::-webkit-scrollbar{
  display: none;
}
.card_container::-webkit-scrollbar-thumb{
  background: #3675BF;
  border-radius: 15px;
}

figure{
	position: relative;
	height: 370px;
	width: 245px;
	overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

#cheikhK{
  background: url(./images/comite/webp/Cheikh\ kane.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
#emmaH{
  background: url(./images/comite/webp/Emma_Haziza.webp);
  background-position-x: center;
}
#barbaraK{
  background: url(./images/comite/webp/Barbara\ Kan-Waechter.webp);
  background-position-x: center;
}
#stephaneD{
  background: url(./images/comite/webp/Stéphane\ Dugast.webp);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#gerardC{
  background: url(./images/comite/webp/Gérard\ Civet.webp);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#marieS{
  background: url(./images/comite/webp/Marie-Sophie\ Lelouch.webp);
  background-position-x: center;
}
figcaption{
	z-index: 1;
	position: absolute;
	top: 72%;
	text-align:center;
	color:white;
	transition: 0.5s cubic-bezier(.39,.13,.68,.83) ;
}
figcaption h2{
	font-size: 30px;
	padding-bottom: 20px;
	font-weight: bold;
}
figcaption p {
  font-weight: bold;
}

figure::after{
	position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2f2f2fed 1%, rgba(255, 255 ,255 , 0) 50%);
  transition: 1.5s;
}
figure::before{
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #2f2f2fed 1%, rgba(255, 255 ,255 , 0) 50%);
  transition: 1.5s;
}

figure:hover figcaption{
	top: 50%;
	transform: translateY(-50%);
}

figure:hover::after{
  background: linear-gradient(0deg, #3675df8a 40%, rgba(255, 255 ,255 , 0) 100%);
}



.objectif_part {
  margin-top: 8%;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: -webkit-linear-gradient(top, #fff 0%, #c9dbe9 100%);
  background: -linear-gradient(top, #fff 0%, #c9dbe9 100%);
	background: -moz-linear-gradient(top, #fff 0%, #c9dbe9 100%);

}
.objectif_part .box {
  width: 428px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.objectif_part .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.objectif_part .block {
  width: 0%;
  height: inherit;
  background: #3675BF;
  position: absolute;
  /* animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards; */
  display: flex;
}

.objectif_part .h1_objectif {
  color: #000;
  font-size: 50px;
  /* -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards; */
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
/* #logoTerra_objectif{
  width: 0%;
  transition: 1s;
  transition-delay: 1s;
} */

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 200%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#canvasThree{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 800px;
  background: url(./images/universe.jpg);
  position: relative;
}
#formSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#formSection::after{
  content: "Notre Jardin secret se trouve près des nuages … 104, Rue Jouffroy d'Abbans à PARIS dans le 17ème Arrondissement";
  color: white;
  font-size: 30px;
  position: absolute;
  display: block;
  left: 29%;
  font-weight: bold;
  width: 39%;
}

#formSection img {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 4%;
}
form input[type=text], form select{
  height: 50px;
  width: 400px;
  border: none;
  border-bottom: 2px solid #3675BF;
  /* border-radius: 15px; */
  padding-left: 34px;
  font-size: 20px;
  background-color: transparent;
}
form input::placeholder{
  color: black;
}
select{
  width:440px !important;
  height: 55px !important;
}
select option {
  background: #3675BF;
  color: white;
}
form input[type=submit]{
  margin-left: 23%;
  font-size: 20px;
  color: #3675BF;
  border: none;
  height: 50px;
  width: 250px;
  background-color: transparent;
  transition: .7s;
  z-index: 1;
}
#sendButton{
  position: relative;
}

#sendButton::after{
  content: '';
  display: block;
  position: absolute;
  top: -75px;
  left: 22%;
  width: 121px;
  height: 41px;
  background-color: transparent;
  border: 2px solid #3675BF;
  transition: 1s;
}
form input[type=submit]:hover{
  cursor: pointer;
}
#border_forNom, #border_forPrenom, #border_forPays, #border_forRegion{
  height: 5px;
  width: 20px;
  background-color: transparent;
  border-bottom: 2px solid #d4c5af;
  margin-top: -37px;
  transition: 2s ease-in-out;
}
form input[name="nom"]:focus ~ #border_forNom, 
form input[name="prenom"]:focus ~ #border_forPrenom,
form input[name="pays"]:focus ~ #border_forPays, 
form select[name="region"]:focus ~ #border_forRegion
{
  width: 400px;
}


form input[type=submit]:hover ~ #sendButton::after{
  width: 250px;
}
form input:focus, select:focus{
  outline: none;
}
form #city{ display:none; }

#error{
  font-size: 20px;
  background-color: #3675DF;
  height: 30px;
  width: 100%;
  position: fixed;
  color: white;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: 2s;
}

#canvasThree span{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
  0 0 0 8px rgba(255, 255, 255, 0.1),
  0 0 20px rgba(255, 255, 255, 1);
  animation: stars 3s linear infinite;
}

#canvasThree span::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes stars {
  0%
  {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%
  {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
  
}

#canvasThree span:nth-child(1){
  top: 0px;
  right: 0px;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

#canvasThree span:nth-child(2){
  top: 0px;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
#canvasThree span:nth-child(3){
  top: 80px;
  left: 0px;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

#canvasThree span:nth-child(4){
  top: 0px;
  left: 180px;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

#canvasThree span:nth-child(5){
  top: 0px;
  left: 400px;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

#canvasThree span:nth-child(6){
  top: 0px;
  left: 600px;
  animation-delay: 1;
  animation-duration: 3s;
}

#canvasThree span:nth-child(7){
  top: 300px;
  left: 0px;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

#canvasThree span:nth-child(8){
  top: 0px;
  left: 700px;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

#canvasThree span:nth-child(9){
  top: 0px;
  left: 1000px;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

#canvasThree span:nth-child(10){
  top: 0px;
  left: 450px;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}
footer{
  background: url(./images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 3%;
  padding-left: 40px;
}
footer > img {
  height: 300px;
  width: 100%;
}
footer > #info {
  font-size: 30px;
  margin-top: 1%;
  height: 233px;
  width: 100%;
}

#info .info_top{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin-top: 3%;
}
#info  .info_top > img {
  height: 180px;
}

.blockquote {
  padding: 0px 80px 0px;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
  font-style: italic;
}


.blockquote:before {
position: absolute;
top: -63px;
content:"“";
font-family: Arial, Helvetica, sans-serif;
font-size: 200px;
color: #3675BF;
 
}

.blockquote::after {
  content: "";
  top: 25px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #3675BF;
  height: 3px;
  width: 200px;
}

.info_bot{
 text-transform: uppercase; 
 padding-bottom: 20px;
 display: flex;
 flex-direction: row;
 gap:100px;
}
.info_icon_reseau{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.info_soutien_icon{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.info_soutien > h2{
  font-weight: lighter;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.info_actu > h2{
  font-weight: lighter;
}








#clouds{
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.x2 {
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75;
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}



























